.avatarWrapper {
  height: 100%;
}

.avatar {
  width: 95% !important;
  height: 95% !important;
}

.circleBorder{
  border: 2px solid #e0e0e0;
  height: 100%;
  max-width: 210px !important;
  max-height: 210px !important;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  font-size: 1.25rem;
  align-items: center;
  position: relative;
  top: 15%;
}

.profileFormSection{
  padding: 0 25px
}

.root {
  width: 90%;
  margin: 15px auto;
  height: 75%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.userDetail {
  font-size: 16px;
  padding-top: 60px;
  padding-bottom: 25px;
}

@media only screen and (max-width: 700px) {
  .circleBorder{
    top: 5%;
  }

  .profileFormSection{
    padding: 0
  }

  .root{
    width: 99%;
  }
  
  .userDetail {
    padding-top: 10px;
  }
}

.userActionWrapper{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 15px 0;
}

